<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Quizzario</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.flatly.min.css">
    <!-- Additional stylesheets begin -->
    @RenderSection("AdditionalStylesheets", required: false)
    <!-- Additional stylesheets end -->
</head>
<body>
    <nav class="container-fluid" id="-navigation">
        <!-- Topmenu begin -->
        <div class="navbar navbar-expand-md navbar-dark bg-primary py-2 py-md-3" id="-topmenu">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand mr-md-5 -logo"><strong class="text-success">Q</strong><span>uizzario</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".-navigation-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse -navigation-collapse">
                <form method="get" asp-controller="Home" asp-action="Search" autocomplete="off" class="form-inline my-2 my-md-0 mr-2">
                    <div class="input-group">
                        <input class="form-control border border-dark bg-primary text-light" data-expand-width="290" type="text" id="-search" name="q" value="@ViewData["q"]" placeholder="Search">
                        <span class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <div class="navbar-nav mr-auto">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Browse</a>
                </div>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
        <!-- Topmenu end -->
    </nav>

    <div class="container-fluid -content-without-sidemenu" id="-content-wrapper">
        <!-- Content begin -->
        @RenderBody()
        <!-- Content end -->
    </div>

    @{
        if (ViewData["HideFooter"] == null)
        {
            <!-- Footer begin -->
            <footer class="bg-primary text-white" id="-footer">
                <div class="container py-4">
                    <div class="row">
                        <div class="col-12">
                            © 2018 Copyrights<br />
                            Michał Bojzan, Jakub Krzemiński, Michał Polak, Paweł Szynal, Paweł Żółtaniecki
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end -->
        }
    }


    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Additional scripts begin -->
    @RenderSection("AdditionalScripts", required: false)
    <!-- Additional scripts end -->
</body>
</html>