<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Quizzario</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.flatly.min.css">
    <!-- Additional stylesheets begin -->
    @RenderSection("AdditionalStylesheets", required: false)
    <!-- Additional stylesheets end -->
</head>
<body>
    <nav class="container-fluid" id="-navigation">
        <!-- Topmenu begin -->
        <div class="navbar navbar-expand-md navbar-dark bg-primary py-2 py-md-3" id="-topmenu">
            <a asp-controller="Quizes" asp-action="Index" class="navbar-brand mr-md-5">Quizzario</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".-navigation-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse -navigation-collapse">
                <form method="get" asp-controller="Home" asp-action="Search" class="form-inline my-2 my-md-0 mr-2">
                    <div class="input-group">
                        <input class="form-control border border-dark bg-primary text-light" data-expand-width="290" type="text" id="-search" name="q" value="@ViewData["q"]" placeholder="Search">
                        <span class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <div class="navbar-nav mr-auto">
                    <a asp-controller="Home" asp-action="Search" class="nav-link">Browse</a>
                </div>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
        <!-- Topmenu end -->
        <!-- Sidemenu begin -->

        <div class="navbar fixed-top navbar-dark bg-dark" id="-sidemenu">
            <div class="collapse navbar-collapse -navigation-collapse" id="-sidemenu-collapse">
                <ul class="nav navbar-nav flex-column">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "MyQuizes" ? "active" : "")">
                        <a asp-controller="Quizes" asp-action="MyQuizes" class="nav-link">
                            <i class="fas fa-fw fa-file"></i>
                            <span class="ml-1">My quizes</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Favourite" ? "active" : "")">
                        <a asp-controller="Quizes" asp-action="Favourite" class="nav-link">
                            <i class="fas fa-fw fa-heart"></i>
                            <span class="ml-1">Favourite quizes</span>
                        </a>
                    </li>
                    <li class="nav-item" @(ViewContext.RouteData.Values["Action"].ToString() == "Assigned" ? "active" : "")">
                        <a asp-controller="Quizes" asp-action="Assigned" class="nav-link">
                            <i class="fas fa-fw fa-file-alt"></i>
                            <span class="ml-1">Assigned quizes</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "active" : "")">
                        <a asp-controller="Quizes" asp-action="Create" class="nav-link">
                            <i class="fas fa-fw fa-plus"></i>
                            <span class="ml-1">Create a quiz</span>
                        </a>
                    </li>
                    <li class="-sidemenu-hr-wrapper"><hr /></li>
                    @*<li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-fw fa-cog"></i>
                            <span class="ml-1">Profile settings</span>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <form  asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                            <button class="nav-link btn btn-link py-0" type="submit">
                                <i class="fas fa-fw fa-sign-out-alt"></i>
                                <span class="ml-1">Logout</span>
                            </button>
                        </form>
                        @*<a asp-controller="Account" asp-action="Logout" class="nav-link">
                            <i class="fas fa-fw fa-sign-out-alt"></i>
                            <span class="ml-1">Logout</span>
                        </a>*@
                    </li>
                </ul>

                <a class="navbar-text mt-2 text-white float-right" id="-sidemenu-collapse-button">
                    <i class="fas fa-fw fa-angle-double-left" id="-sidemenu-collapse-left"></i>
                    <i class="fas fa-fw fa-angle-double-right d-none" id="-sidemenu-collapse-right"></i>
                </a>
            </div>
        </div>
        <!-- Sidemenu end -->
    </nav>

    <div class="container-fluid -content-with-sidemenu" id="-content-wrapper">
        <!-- Content begin -->
        @RenderBody()
        <!-- Content end -->
    </div>



    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Additional scripts begin -->
    @RenderSection("AdditionalScripts", required: false)
    <!-- Additional scripts end -->

</body>
</html>