@model Quizzario.Models.QuizViewModels.QuizListViewModel

@{
    ViewData["Title"] = "My quizes";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@section AdditionalStylesheets
    {
    <link rel="stylesheet" href="~/css/template.css">
    <link rel="stylesheet" href="~/css/my-quizes.css">
}

@section AdditionalScripts
    {
    <script src="~/js/custom.js"></script>
}
<div class="row px-3 py-3 mx-0">
    <div class="col-md-8" id="-quizes-list">
        <div class="row">
            <div class="col-md-8">
                <h1>My quizes</h1>
            </div>
            <div class="col-md-4">
                @* Sorting by select, functionalitites missing *@
                @*<div class="form-group form-inline float-right">
                        <label for="-quizes-sort-by-select">Sort by</label>
                        <select class="form-control ml-2" id="-quizes-sort-by-select">
                            <option>Title</option>
                            <option>Date created</option>
                            <option>Popularity</option>
                            <option>By favourites</option>
                        </select>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col text-justify">
                @foreach (var quiz in Model.Quizes)
                {
                    <div class="row py-2 mb-2 -quizes-card">
                        <div class="col-2 d-flex align-items-center px-2 px-xl-3 -quizes-card-img-wrapper">
                            <img class="img-fluid" src="http://via.placeholder.com/300x300" />
                        </div>
                        <div class="col">
                            <h5 class="-quizes-card-title">@quiz.Title</h5>
                            <p class="-quizes-card-description">@quiz.Description</p>
                            <div class="row align-bottom">
                                <div class="col-sm-4"><i class="fas fa-fw fa-play mr-2"></i>@* Data missing *@ times</div>
                                <div class="col-sm-4"><i class="fas fa-fw fa-calendar-alt mr-2"></i>@quiz.CreationDate</div>
                                <div class="col-sm-4"><i class="fas fa-fw fa-heart mr-2"></i>@* Data missing *@</div>
                            </div>
                        </div>
                        <div>
                            <div class="-quizes-card-data"
                                 data-id="@quiz.Id"
                                 data-title="@quiz.Title"
                                 data-description="@quiz.Description"
                                 data-type="@quiz.QuizType"
                                 data-date-created="@quiz.CreationDate"
                                 data-last-edited="@quiz.CreationDate">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <nav class="w-100 mt-3">
                <pagination info="@Model.PagingInfo" route="/Quizes/MyQuizes"></pagination>
            </nav>

        </div>
    </div>
    <div class="col-md-4 px-0" id="-quizes-right-panel-wrapper">
        <div id="-quizes-right-panel">
            <a asp-controller="Quizes" asp-action="Summary" id="-view-link" class="btn btn-success my-1 mr-md-2">
                <i class="fas fa-fw fa-eye"></i>
                <span class="ml-1">View</span>
            </a>
            <a asp-controller="Quizes" asp-action="Edit" id="-edit-link" class="btn btn-success my-1 mr-md-auto">
                <i class="fas fa-fw fa-edit"></i>
                <span class="ml-1">Edit</span>
            </a>
            <a asp-controller="Quizes" asp-action="Remove" id="-remove-link" class="btn btn-dark my-1 float-xl-right">
                <i class="fas fa-fw fa-trash"></i>
                <span class="ml-1">Remove</span>
            </a>
            <h2 class="mt-2" id="-quizes-right-panel-title"></h2>

                @* Quiz image, functionalities goes here *@
                @*<p class="text-center">
                        <i class="fas fa-fw fa-question -quizes-fa-xl"></i>
                    </p>*@

            <p class="my-0">
                <span class="text-secondary font-weight-light font-italic mr-2">Type: </span>
                <span id="-quizes-right-panel-type"></span>
            </p>
            <p class="my-0">
                <span class="text-secondary font-weight-light font-italic mr-2">Date created: </span>
                <span id="-quizes-right-panel-date-created"></span>
            </p>
            <p class="my-0">
                <span class="text-secondary font-weight-light font-italic mr-2">Last edited: </span>
                <span id="-quizes-right-panel-last-edited"></span>
            </p>
            <p class="text-secondary font-weight-light font-italic my-0 mr-2"> Description</p>
            <p id="-quizes-right-panel-description"></p>
        </div>
    </div>
</div>

