@model Quizzario.BusinessLogic.DTOs.QuizDTO

@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@section AdditionalStylesheets
    {
    <link rel="stylesheet" href="~/css/template.css">
    <link rel="stylesheet" href="~/css/before-quiz.css">
}

@section AdditionalScripts
    {
    <script src="~/js/custom.js"></script>
}

@{
    // Formatting dates
    string creationDate = DateTime.Parse(Model.CreationDate).ToString("MMMM dd, yyyy");
    bool isFavourite = false;   // Data missing, updated controller needed
                                // string updateDate ...

}
  

<div class="row px-3 py-3 mx-0">
    <div class="col-12">
        <div class="row mb-1 mb-md-2">
            <div class="col-12">
                <h1 class="d-inline">@Model.Title</h1>
                <p class="font-italic d-inline ml-1 ml-md-3">by <b>@* Data missing, updated controller needed *@</b></p>

                <div class="float-md-right">
                    <button class="btn btn-outline-primary my-1 mr-md-1">
                        <i class="fas fa-fw fa-share"></i>
                        <span class="ml-1">Share</span>
                    </button>
                    <button data-id="@Model.Id" data-is-favourite="@isFavourite" data-target-add="../AddToFavourite" data-target-remove="../RemoveFromFavourite" class="-favourite-button btn @(isFavourite ? "btn-danger" : "btn-outline-danger") my-1 mr-md-3">
                        <i class="fas fa-fw fa-heart"></i>
                        <span class="ml-1">Favourite</span>
                    </button>
                    <button class="btn btn-success my-1 mr-md-1">
                        <i class="fas fa-fw fa-edit"></i>
                        <span class="ml-1">Edit</span>
                    </button>
                    <button class="btn btn-dark my-1 ">
                        <i class="fas fa-fw fa-trash"></i>
                        <span class="ml-1">Remove</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center float-md-left" id="-before-quiz-left-panel">
                    <span class="text-secondary font-weight-light font-italic mr-md-1">Attempt: </span>
                    <span>@* Data missing, updated controller needed *@</span>
                    <button class="btn btn-success my-1 btn-block">
                        <i class="fas fa-fw fa-play"></i>
                        <span class="ml-1">Let's begin</span>
                    </button>
                    <button class="btn btn-outline-primary my-1 btn-block">
                        <i class="fas fa-fw fa-arrow-left"></i>
                        <span class="ml-1">Back</span>
                    </button>
                </div>
                <div id="-before-quiz-right-panel">
                    <div class="row mb-1 mb-md-2">
                        <div class="col-12">
                            <span class="mr-3 mr-md-4">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Type: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </span>
                            <span class="mr-3 mr-md-4">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Attempts: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </span>
                            <span class="mr-3 mr-md-4">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Time limit: </span>
                                <span>@* Data missing, updated controller needed *@ minutes</span>
                            </span>
                        </div>
                    </div>
                    <div class="row mb-1 mb-md-2">
                        <div class="col-12 text-justify">
                            @Model.Description
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5>Attempt history</h5>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Previous attempts: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Your last score: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Your best score: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                        </div>
                        <div class="col-6">
                            <h5>Details</h5>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Last edited: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Date created: </span>
                                <span>@creationDate</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Total number of questions: </span>
                                <span>@* Data missing, updated controller needed *@.</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Total number of attempts: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Added to favourite: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

