@model Quizzario.BusinessLogic.DTOs.QuizDTO
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@section AdditionalStylesheets
    {
    <link rel="stylesheet" href="~/css/template.css">
    <link rel="stylesheet" href="~/css/before-quiz.css">
}

@section AdditionalScripts
    {
    <script src="~/js/custom.js"></script>
}

@{
    // Formatting dates
    string creationDate = DateTime.Parse(Model.CreationDate).ToString("MMMM dd, yyyy");
    bool isFavourite = @ViewBag.IsFavourite;   // Data missing, updated controller needed
                                               // string updateDate ...
    float? bestScore = @ViewBag.bestScore;

}


<p>@isFavourite<p>
<div class="row px-3 py-3 mx-0">
    <div class="col-12">
        <div class="row mb-1 mb-md-2">
            <div class="col-12">
                <h1 class="d-inline">@Model.Title</h1>
                <p class="font-italic d-inline ml-1 ml-md-3">by <b>DATA MISS </b></p>

                <div class="float-md-right">
                    <button class="btn btn-outline-primary my-1 mr-md-1">
                        <i class="fas fa-fw fa-share"></i>
                        <span class="ml-1">Share</span>
                    </button>
                    <button data-id="@Model.Id" data-is-favourite="@isFavourite" data-target-add="../AddToFavourite" data-target-remove="../RemoveFromFavourite" class="-favourite-button btn @(isFavourite ? "btn-danger" : "btn-outline-danger") my-1 mr-md-3">
                        <i class="fas fa-fw fa-heart"></i>
                        <span class="ml-1">Favourite</span>
                    </button>
                    <button class="btn btn-success my-1 mr-md-1">
                        <i class="fas fa-fw fa-edit"></i>
                        <span class="ml-1">Edit</span>
                    </button>
                    <button class="btn btn-dark my-1 ">
                        <i class="fas fa-fw fa-trash"></i>
                        <span class="ml-1">Remove</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center float-md-left" id="-before-quiz-left-panel">
                    <span class="text-secondary font-weight-light font-italic mr-md-1">Attempt: </span>
                    <span>@**@</span>
                    <button class="btn btn-success my-1 btn-block">
                        <i class="fas fa-fw fa-play"></i>
                        <span class="ml-1">Let's begin</span>
                    </button>
                    <button class="btn btn-outline-primary my-1 btn-block">
                        <i class="fas fa-fw fa-arrow-left"></i>
                        <span class="ml-1">Back</span>
                    </button>
                </div>
                <div id="-before-quiz-right-panel">
                    <div class="row mb-1 mb-md-2">
                        <div class="col-12">
                            <span class="mr-3 mr-md-4">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Type: </span>
                                <span> @Model.QuizType</span>
                            </span>
                            <span class="mr-3 mr-md-4">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Attempts: </span>
                                <span> @ViewBag.attemps</span>
                            </span>
                            <span class="mr-3 mr-md-4">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Time limit: </span>
                                <span> @*Data missing, updated controller needed  minutes*@</span>
                            </span>
                        </div>
                    </div>
                    <div class="row mb-1 mb-md-2">
                        <div class="col-12 text-justify">
                            @Model.Description
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <h5>Attempt history</h5>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Previous attempts: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Your last score: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Your best score: </span>
                                <span>@ViewBag.bestScore</span>
                            </p>
                        </div>
                        <div class="col-md-4 mb-2">
                            <h5>Details</h5>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Last edited: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Date created: </span>
                                <span>@creationDate</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Total number of questions: </span>
                                <span></span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Total number of attempts: </span>
                                <span>@Model.AllScore.Count()</span>
                            </p>
                            <p class="my-0">
                                <span class="text-secondary font-weight-light font-italic mr-md-1">Added to favourite: </span>
                                <span>@* Data missing, updated controller needed *@</span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="d-inline">Assigned users</h5>
                            <button class="btn btn-sm btn-link mb-1 d-inline" data-toggle="modal" data-target="#-assign-user-modal">
                                <i class="fas fa-fw fa-plus"></i>
                            </button>
                            <div id="-before-quiz-assigned">
                                <ul class="list-group">
                                    @foreach (var u in ViewBag.AssignedUsers)
                                    {
                                        <li data-id ="@u.Id" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action py-1">
                                            @u.UserName
                                            <button class="btn btn-sm btn-outline-dark border-0"><i class="fas fa-fw fa-trash"></i></button>
                                        </li>
                                    }

  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Assing user modal *@
<div class="modal fade" id="-assign-user-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign new user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="-assign-user-modal-user" class="col-form-label">E-mail:</label>
                        <input type="text" class="form-control" id="-assign-user-modal-user">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Add user</button>
            </div>
        </div>
    </div>
</div>

